<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Colegio Enrique Gusman y Valle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="shortcut icon" href="/assets/img/favicon.ico" />
        <script src="/assets/js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <!-- HEADER-->
        <header class="head-general">
            <div class="cnts head-wrap">
                <div class="logo">
                    <img src="/assets/img/logo-egv.png"/>
                </div>
                <div class="msg-logo">
                    <h1 class="berlin">Colegio Particular "Enrique Guzmán y Valle"</h1>
                </div>
                <hr class="clear">
            </div>
        </header>
        <!-- NAV : MENU-->
        <nav class="main-nav">
            <div class="cnts wrap-menu">
                <ul>
                    <li><a href="#" class="item-nav berlin border-litle">Inicio</a></li>
                    <li><a href="#" class="item-nav berlin border-litle">Niveles educatvos</a></li>
                    <li><a href="#" class="item-nav berlin border-litle">Actividades</a></li>
                    <li><a href="#" class="item-nav berlin border-litle">Estudiantes</a></li>
                    <li><a href="#" class="item-nav berlin border-litle">Docentes</a></li>
                    <li><a href="#" class="item-nav berlin border-litle">Fotos</a></li>

                </ul>
                <div class="social-net">
                    <a href="#" class="social-icon face"></a>
                    <a href="#" class="social-icon twit"></a>
                    <a href="#" class="social-icon goog"></a>
                </div>
            </div>
            <div class="cnt-sub-menu">
                <div class="sub-nav border-litle">
                    <a href="#" class="">Actividades</a>
                    <a href="#" class="">Visita Lima</a>
                    <a href="#" class="">Fotografias</a>
                </div>
            </div>
        </nav>
        <!-- SECTION SLIDES IMAGES COLEGIO -->
        <section class="cnts slides">
            <ul class="ul-slides">
                <li><a href="#"><img class="border-litle" src="/assets/img/slide02.jpg" alt="Nueva infraestructura"/></a><li>
            <ul>
            <div class="news-slides border-litle">
                <div class="new-item">
                    <h4 class="berlin">Primera noticia</h4>
                    <p>Esta es la primera clificacion de todas . somos los mejores</p>
                </div>
                <div class="new-item">
                    <h4 class="berlin">Segunda noticia</h4>
                    <p>Esta es la primera clificacion de todas . somos los mejores</p>
                </div>
                <div class="new-item">
                    <h4 class="berlin">Tercera noticia</h4>
                    <p>Esta es la primera clificacion de todas . somos los mejores</p>
                </div>
                <div class="new-item">
                    <h4 class="berlin">Cuarta noticia</h4>
                    <p>Esta es la primera clificacion de todas . somos los mejores</p>
                </div>
                <div class="new-item">
                    <h4 class="berlin">Quinta noticia</h4>
                    <p>Esta es la primera clificacion de todas . somos los mejores</p>
                </div>
            </div>

            <ul class="list-point">
                <li><a href="#" class="point"></a></li>
                <li><a href="#" class="point"></a></li>
                <li><a href="#" class="point-select"></a></li>
                <li><a href="#" class="point"></a></li>
                <li><a href="#" class="point"></a></li>
            </ul>
        </section>
        <!-- SECTION -->
        <section class="wrap-center">
        </section>
        <!-- SECTION -->
        <section class="wrap-cnt">
            <div class="cnt-main">
                <h2 class="berlin">ENRIQUE GUZMAN Y VALLE</h2>
                <div class="item-main">
                    <div class="item-img"><img src="/assets/img/history.png"/></div>
                    <div class="item-title">
                        <h4 class="berlin">HISTORIA</h4>
                        <p>nuestra historia data de los mil años cuando todo estabamos brumados en la espeza selva de l lugar
                        </p>
                    </div>
                </div>
                <div class="item-main">
                    <div class="item-img"><img src="/assets/img/graduated.png"/></div>
                    <div class="item-title">
                        <h4 class="berlin">HISTORIA</h4>
                        <p>nuestra historia data de los mil años cuando todo estabamos brumados en la espeza selva de l lugar
                        </p>
                    </div>
                </div>
                <div class="item-main">
                    <div class="item-img"><img src="/assets/img/history.png"/></div>
                    <div class="item-title">
                        <h4 class="berlin">HISTORIA</h4>
                        <p>nuestra historia data de los mil años cuando todo estabamos brumados en la espeza selva de l lugar
                        </p>
                    </div>
                </div>
                <hr class="clear">
            </div>
            <div class="cnts cnt-sub-main">
                <!--<iframe style="float:right" width="380" height="250" src="http://www.youtube.com/embed/-1Y9OqSJKCc" frameborder="0" allowfullscreen></iframe>-->
            </div>
        </section>
        
            
        
        
        <!-- FOOTER-->
        <footer class="footer-egv">
            <div class="cnts">
                <div class="foot-cnt first-foot">
                    <h3 class="cooper">"motivandote a alcanzar tus sueños"</h3>
                    
                </div>
                <div class="foot-cnt last-foot">
                    <h4 class="cooper">Educación en Perú</h4>
                    <ul>
                        <li><a href="#">Sistema academico</a></li>
                        <li><a href="#">Sistema academico2</a></li>
                        <li><a href="#">Sistema academico3</a></li>
                        <li><a href="#">Sistema acad</a></li>
                    </ul>
                </div>
                <div class="foot-cnt last-foot child-right">
                    <h4 class="cooper">Sistemas educativos</h4>
                    <ul>
                        <li><a href="#">Sistema academico</a></li>
                        <li><a href="#">Sistema academico2</a></li>
                        <li><a href="#">Sistema academico3</a></li>
                        <li><a href="#">Sistema acad</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        
        
        <!-- js -->
        <div class="js">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
            <script src="/assets/js/plugins.js"></script>
            <script src="/assets/js/main.js"></script>

            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <!--
            <script>
            
                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
            -->
        </div>
    </body>
</html>
