/*
*	@ autor : Alfredo Iván Palomino Calli;
*	@ autor : Reina Elizabeth Condori Cayo;
*	Institución Educativa Enrique Guzmán y Valle
*/
/* -------------------------- FONTS --------------------------------------
--------------------------------------------------------------------------*/
@font-face {
        font-family: 'Berlin_Sans_Fb';    
        src: url('../fonts/BRLNSR.TTF') format('truetype');    
        font-weight: normal;
        font-style: normal;
 }
 @font-face {
        font-family: 'Berlin_Sans_Fb_IE';    
        src: url('../fonts/BRLNSR.eot');    
        font-weight: normal;
        font-style: normal;
 }
 @font-face {
        font-family: 'Cooper_becker_poster_black';    
        src: url('../fonts/cooper_becker_poster_black.ttf') format('truetype');    
        font-weight: normal;
        font-style: normal;
 }
 @font-face {
        font-family: 'Cooper_becker_poster_black_IE';    
        src: url('../fonts/cooper_becker_poster_black.eot');    
        font-weight: normal;
        font-style: normal;
 }

body{background:url(../img/cemento.png); color:#666;}
a{text-decoration: none; color:#06a;}
a:hover{color:#4ae;}
.berlin{font-family: Berlin_Sans_Fb, Berlin_Sans_Fb_IE;}
.cooper{font-family:Cooper_becker_poster_black,Cooper_becker_poster_black_IE; letter-spacing: 1px;}
.clear{clear:both; border:none; margin:none;}
.cnts{width: 990px; margin:0 auto; display:block;overflow: hidden;}
.border-litle{
	border-radius:5px;
}
.border-medium{
	border-radius:10px;
}
.shadow-thin{
	box-shadow: 0px 0px 1px #eee;
}
/* header */
.head-general{
	/*background: url(../img/header.jpg);*/
	height:110px;
	width: 100%;
}
.head-wrap{
	padding:10px 0px;
}
.logo,.msg-logo{ 
	float: left;
}
.logo{
	margin-left:0px;
	margin-right: 20px;
}
.msg-logo{
	width: 830px;
	margin-top:20px;
}
.msg-logo h1{ 
	margin:0px;
	text-align: center;
	text-shadow:0px 1px 0px #fff,
				0px 2px 0px #fff,
				0px 3px 0px #fff,
				1px 1px 0px #fff,
				2px 2px 0px #fff,
				3px 3px 0px #fff,
				1px -1px 0px #fff,
				2px -2px 0px #fff,
				3px -3px 0px #fff,
				1px 0px 0px #fff,
				2px 0px 0px #fff,
				3px 0px 0px #fff,
				0px -1px 0px #fff,
				0px -2px 0px #fff,
				0px -3px 0px #fff,
				-1px 0px 0px #fff,
				-2px 0px 0px #fff,
				-3px 0px 0px #fff,
				-1px -1px 0px #fff,
				-2px -2px 0px #fff,
				-3px -3px 0px #fff,
				-1px 1px 0px #fff,
				-2px 2px 0px #fff,
				-3px 3px 0px #fff;
	color:#06a;
	letter-spacing: 2px;
}
/*	menu principal */
.main-nav{
	/*background: url(../img/nav-back.jpg);*/
}
/* wrap de l menu */
.wrap-menu{
	

}
.main-nav ul{
	display: block;	
	margin:0px;
	padding:0px;
}
.menu li { float: left}
.menu li {float:left;}
.menu li a{
	float:left;
	font-size: 1.1em;
	margin: 5px 5px 5px 0px;
	text-align: center;
	text-decoration: none;
	width: 135px;
	padding: 2px 0px;	
}
.item-nav{
	background-color: #FED27E;
	border: solid thin #FED27E;
	color:#444;
}
.item-nav:hover{
	background-color: #FFC350;
	border:dashed thin #FFC350;
	text-shadow: 0px 0px 5px #FED27E;
}
.current{
	background-color: #06a;
	border: solid thin #06a;
	color:white;
}
.cnt-sub-menu{
	/*background-color: #555;*/
	clear:both;
	display: block;	
	height: 25px;
}
.sub-nav{	
	margin:0 auto;	
	padding:0px 10px;
	width: 970px;

}
.sub-nav a{
	color:#456785;
	font-size: 0.8em;
	font-style: italic;
	font-weight: bold;
	margin-top:-3px;
	padding:0px 10px;
	text-decoration: none;
}
.sub-nav a:hover{
	color:#fff;
}
/* SOCIAL NETWORK*/
.social-net{
	float: right;
	width: 100px;
}
.social-icon{
	background-position: center;
	opacity: 0.8;
	padding: 5px 16px;
	height: 20px;
	display: block;
	float: left;
	overflow: hidden;
}
.social-icon:hover{opacity: 1;}
.face{
	background-image:url(../img/icon-face.png); 
}
.twit{
	background-image:url(../img/icon-twitter.png); 
}
.goog{
	background-image:url(../img/icon-google.png); 
}

/* slides de images */
.slides{	
	height: 400px;
	
}
.ul-slides{
	list-style: none;
	margin:0px;
	padding:0px;
}
.ul-slides li a img{
	margin:0 auto;
}
.news-slides{
	box-shadow: 0px 0px 13px #727272;
height: 320px;
position: relative;
width: 280px;
margin-top: -385px;
margin-left: 671px;
padding: 10px;
background-color: white;
opacity: 0.9;
}
.new-item{
	margin-bottom:5px;
	box-shadow: 0px 1px 0px white, 
				0px 2px 0px #666; 
	color:#555;
}
.new-item h4,.new-item p{
	margin:0px;
}
.new-item p{ font-size: 0.8em}

.list-point{
	position: relative;
	list-style: none;
	margin-left: 385px;
	margin-top: -20px;
}
.list-point li{float:left;}
a.point{
	background: url(../img/point.png) center no-repeat;
	float: left;
	display: inline;
	padding:15px;
}
a.point-select{
	background: url(../img/point-selected.png) center no-repeat;
	float: left;
	padding:15px;
}
/* cnt 2 contenido items */

.wrap-center{
	background: url(../img/section2-top.png) repeat-x;
	display: block;
	height: 40px;
	margin-top:-35px;
	position: relative;
	z-index: 2;
}
.title{	border-bottom:solid thin #D6EAF3;}
.news{background: url(../img/news.png) no-repeat left center; padding-left:25px;}
.msg-important{
	float:left;
	padding:10px;
	width: 475px;
}
.msg-important h3{text-align: center; margin:0 0.5em;font-size: 1.5em}
.msg-important p{font-size: 1em; text-align: center; }
.mision{ background: url(../img/sun.png) no-repeat 130px 0px }
.vision{background: url(../img/eye.png) no-repeat 130px 0px}

.list-colum-three {list-style: none; padding:10px;}
.list-colum-three li{ float:left;}
.list-colum-three li a { opacity:0.8;float:left; width: 290px; padding-left:30px; text-decoration: none; color:#111; height: 30px}
.list-colum-three li a:hover{ color:#333; opacity:1;}

.course{background: url(../img/courses.png) no-repeat top left}
.computer{background: url(../img/computer.png) no-repeat top left}
.bus{background: url(../img/bus.png) no-repeat left}
.examen{background: url(../img/examen.png) no-repeat top left}
.internet{background: url(../img/internet.png) no-repeat top left}
.library{background: url(../img/library.png) no-repeat top left}
.multimedia{background: url(../img/multimedia.png) no-repeat top left}

.wrap-cnt{
	background-color:#fff ;
}
.cnt-main{
	background-color: #D6EAF3;
	border-bottom:thin solid #eee;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	padding:10px;
	padding-bottom:20px;
	width: 970px;
}
.cnt-sub-main h2,.cnt-main h2 {margin:0.3em 0;}
.cnt-sub-main h2{color:#733614!important;}
.cnt-sub-main h3,.cnt-sub-main h4{margin:0.1em 0;}
.item-main{
	float: left;
	padding-left:15px;
	padding-right:15px;
	width: 30%;
}
.item-img{float:left;}
.item-img img{	
	margin: 0 auto;
	overflow: hidden;
}
.item-title h4{
	text-align:center;
	text-transform: uppercase;
	margin:0px;
}
.item-title p{
	font-size:0.8em;
}
.cnt-sub-main{
	border-bottom:thin solid #eee;
	height: auto;
	padding-top: 10px;
	padding-bottom:40px;
}
.last-cnt{ padding-bottom:50px;}
/* footer egv */
footer.footer-egv{
	background-image: url(../img/footer.png);
	background-color: #614831;
	clear:both;
	height: 215px;
	width: 100%;
	padding-top:20px;

}

.foot-cnt{
	float:left;
	margin:10px;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
}
.first-foot{/*background-color: #06a; */width:330px; }
.last-foot{/*background-color: #06a; */width:195px; }
.last-foot h3,.last-foot h4{
	color:white;
	font-weight: normal;
	margin: 0.5em 0;
	text-transform: capitalize; 
}

.last-foot h3{text-align: center;}
.last-foot ul,.first-foot ul{list-style: none;	padding:0px; margin:0px;}
.last-foot ul li a,.first-foot ul li a{text-decoration: none;color:#fff; font-size:0.8em;}

.credits h6 { font-size:0.7em; text-align: center;color:#333; margin:0px;padding:0px;font-weight: normal;}
section.cnt-left{float: left;width: 69%; margin-right:2%;}
aside.cnt-right{float: left;width: 29%}
.cnt-post{margin-bottom:20px; border-bottom:thin dotted #eee; display: block; overflow: hidden; padding-bottom:10px;}
.cnt-post-two{margin-bottom:20px;border-bottom:thin dotted #eee; width: 49%;}
.a-right-post{float:right;}
.post-date{display: block; overflow: hidden;}
.post-date span{font-size: 0.8em; color:#063; float:right;}

/* galery photos */
.galery{display: block; overflow: hidden;}
.item-category{width: 206px; height: 206px; background-color:#C4E7FF; margin-bottom:35px;margin-right:32px;  float:left;}