/*
*	@ autor : Alfredo Iván Palomino Calli;
*	@ autor : Reina Elizabeth Condori Cayo;
*	Institución Educativa Enrique Guzmán y Valle
*/
/* -------------------------- FONTS --------------------------------------
--------------------------------------------------------------------------*/
@font-face {
        font-family: 'Berlin_Sans_Fb';    
        src: url('../fonts/BRLNSR.TTF') format('truetype');    
        font-weight: normal;
        font-style: normal;
 }
 
 @font-face {
        font-family: 'Cooper_becker_poster_black';    
        src: url('../fonts/cooper_becker_poster_black.ttf') format('truetype');    
        font-weight: normal;
        font-style: normal;
 }
body{background-color:#D6EAF3;}
.berlin{font-family: 'Berlin_Sans_Fb';}
.cooper{font-family:'Cooper_becker_poster_black';}
.clear{clear:both; border:none; margin:none;}
.cnts{width: 990px; margin:0 auto; display:block;overflow: hidden;}
.border-litle{
	border-radius:5px;
}
.border-medium{
	border-radius:10px;
}
.shadow-thin{
	box-shadow: 0px 0px 1px #eee;
}
/* header */
.head-general{
	/*background: url(../img/header.jpg);*/
	height:110px;
	width: 100%;
}
.head-wrap{
	padding:10px 0px;
}
.logo,.msg-logo{ 
	float: left;
}
.logo{
	margin-left:200px;
	margin-right: 20px;
}
.msg-logo{
	width: 400px;
}
.msg-logo h1{ 
	margin:0px;
	text-align: center;
	text-shadow:0px 1px 0px #fff,
				0px 2px 0px #fff,
				0px 3px 0px #fff,
				1px 1px 0px #fff,
				2px 2px 0px #fff,
				3px 3px 0px #fff,
				1px -1px 0px #fff,
				2px -2px 0px #fff,
				3px -3px 0px #fff,
				1px 0px 0px #fff,
				2px 0px 0px #fff,
				3px 0px 0px #fff,
				0px -1px 0px #fff,
				0px -2px 0px #fff,
				0px -3px 0px #fff,
				-1px 0px 0px #fff,
				-2px 0px 0px #fff,
				-3px 0px 0px #fff,
				-1px -1px 0px #fff,
				-2px -2px 0px #fff,
				-3px -3px 0px #fff,
				-1px 1px 0px #fff,
				-2px 2px 0px #fff,
				-3px 3px 0px #fff;
	color:#06a;
	letter-spacing: 2px;
}
/*	menu principal */
.main-nav{
	/*background: url(../img/nav-back.jpg);*/
}
/* wrap de l menu */
.wrap-menu{
	

}
.main-nav ul{
	display: block;	
	margin:0px;
	padding:0px;
}
.main-nav div ul li a{
	color:#444;
	float:left;
	font-size: 1em;
	margin: 5px 5px;
	text-align: center;
	text-decoration: none;
	width: 150px;
	border: solid thin #fff;
}
.main-nav div ul li a:hover{
	border:dashed thin #fff;
	text-shadow: 0px 0px 5px #eee;
}
.cnt-sub-menu{
	/*background-color: #555;*/
	clear:both;
	display: block;	
	height: 30px;
}
.sub-nav{
	background-color: #0790EB;
	
	margin:0 auto;	
	padding:3px 10px;
	width: 970px;
}
.sub-nav a{
	color:#eee;
	font-size: 0.8em;
	margin-top:-3px;
	padding:0px 10px;
	text-decoration: none;
}
.sub-nav a:hover{
	color:#fff;
}
/* slides de images */
.slides{	
	height: 400px;
	
}
.ul-slides{
	list-style: none;
	margin:0px;
	padding:0px;
}
.ul-slides li a img{

}
.news-slides{
	background: url(../img/cnt-short.jpg);
	height: 320px;
	position: relative;
	width: 280px;
	margin-top:-385px;
	margin-left:652px;
}
.list-point{
	position:relative;
	list-style: none;
	margin-left:300px;
}
a.point{
	background: url(../img/point.png) center no-repeat;
	float: left;
	padding:15px;
}
a.point-select{
	background: url(../img/point-selected.png) center no-repeat;
	float: left;
	padding:15px;
}
/* cnt 2 contenido items */
.cnt-main{
	background: url(../img/section2-top.png) repeat-x;
	display: block;
	margin: 0 auto;
	padding:10px;
	padding-bottom:20px;
	position: relative;
	width: 970px;
	z-index: 2;
}
.item-main{
	float: left;
	padding-left:15px;
	padding-right:15px;
	width: 30%;
}
.item-img img{
	display: block;
	margin: 0 auto;
	overflow: hidden;
}
.item-title h3{
	text-align:center;
}
/* footer egv */
.footer-egv{
	background: url(../img/footer-back.jpg);
	clear:both;
	height: 215px;
	width: 100%;
	padding-top:20px;

}

.foot-cnt{
	float:left;
	margin:10px;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
}
.first-foot{/*background-color: #06a; */width:330px; }
.last-foot{/*background-color: #06a; */width:250px; }
.first-foot h3,.last-foot h4{
	color:white;
	font-weight: normal;
	margin: 0.5em 0;
	text-transform: capitalize; 
}
.last-foot ul,.first-foot ul{list-style: none;	padding:0px; margin:0px;}
.last-foot ul li a,.first-foot ul li a{text-decoration: none;color:#fff; font-size:0.8em;}